body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: cyan;
}

.site-title {
    color: lightcoral; 
}

#my-image {
    box-shadow: 0 0 2px 1px black; 
}

section>ul {
    list-style-type: square;
}

.hobbies li:nth-child(odd){
    background: pink;
  }

nav>ul {
    list-style-type: none;
    
}

a {
    text-decoration-line: none;
    color: black;
    background: pink;
  }

  .navbar a {
    padding: 10px;
    border: 10px;

  }

  a:link{
    border: 2px solid black;
  }

  a:hover{
    background-color: aquamarine;
    
  }

  