body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: cyan;
}

.site-title {
    color: lightcoral; 
}

#my-image {
    box-shadow: 0 0 2px 1px black; 
}

section>ul {
    list-style-type: square;
}

.hobbies li:nth-child(odd){
    background: pink;
  }

nav>ul {
    list-style-type: none;
    
}

a {
    text-decoration-line: none;
    color: black;
    background: pink;
  }

  .navbar a {
    padding: 10px;
    border: 10px;

  }

  a:link{
    border: 2px solid black;
  }

  a:hover{
    background-color: aquamarine;
    
  }

  /* Mobile styles */
.largekitten {
  display: none;
}

.gameslist {
  list-style-type: none;
  padding: 10px;
}

.gameslist li {
  border-bottom: 1px solid black;
  padding: 10px;
}

/* Media query for 480px and above */
@media screen and (min-width: 480px) {
  .smallkitten {
    display: none;
  }

  .largekitten {
    display: block;
  }
}

/* Media query for 800px and above */
@media screen and (min-width: 800px) {
  .gameslist li {
    float: left;
    border-bottom: none;
    border-right: 1px solid black;
  }
}

/* Media query for screen size between 900px and 1200px */
@media screen and (min-width: 900px) and (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

/* Media query for 1200px and above */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}
